/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./badges.css');
@import url('./back-link.css');

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 16px;
    width: 91px;
    height: 40px;
    background: #4e75ff;
    border: none;
    color: #fff;
    letter-spacing: 0.06em;}

.search_image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 32px;
    height: 40px;
line-height: 1.5;}

#search-input {
    height: 34px;
    border-radius: 4px;
    border: 1px solid #808080;
    padding-left: 16px;
    letter-spacing: 0.06em}



/*
.gallery{display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 24px;
    margin-top: 32px;
    margin-left: 156px;
    margin-right: 156px;
    height: 150px;
    height: 780px;
    }   
*/
.gallery-item {
    width: 300px;
    border-radius: 8px;
    border: 2px solid #808080;
   /* height: 230px; */ }

.info{
    display: flex;
    margin-left: 10px;}

.loader {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }}


img{
    height: 200px;
    width: 360px;
}


.gallery-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Минимальная высота экрана */
   
    align-items: center;
    
    column-gap: 20px;
    row-gap: 24px;
    margin-top: 32px;
    margin-left: 156px;
    margin-right: 156px;
    /* Отступ снизу для кнопки */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* Заменяем row-gap и column-gap */
    max-width: 1700px;
    /* Максимальная ширина галереи */
    justify-content: center;
    
}

.load-more {
    width: 200px;
    margin-top: 200 px;
    /* Чтобы кнопка располагалась внизу */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.load-more:hover {
    background-color: #0056b3;
}